*.gz
*.fasta
*.fastq
*.pdf
*.xlsx
*.DS_STORE
*.msh
databases
data

# Large bioinformatics output formats
*.gfa
*.ffn
*.faa
*.aln
*.gml
*.clstr
*.embl
*.gbff

# Large tool-specific outputs
reports/panaroo-results/gene_data.csv
reports/ggcaller-results/ORF_dir/kmer_array.dat
reports/
.DS_Store
__pycache__/
*.pyc
